SUPABASE_URL=https://crevinheqzmvjkljtqld.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNyZXZpbmhlcXptdmprbGp0cWxkIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTQ3MDI2MzQsImV4cCI6MjAxMDI3ODYzNH0.aHyBVztD4NhDXz9Xg2kLriqd815svbJTwuGwr9wKrg4